* {
  margin: 0;
  padding: 0;
}

.NavigationBar {
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #FEE6F0 !important;
}

.appBarHeader {
  justify-content: center;
  height: 6rem;
  background-color: #01c5e790 !important;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}